* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", serif;
}
/* About Section */
.about-section {
    width: 100%;
    padding: 50px 20px;
    background-color: rgb(242, 243, 247);
    text-align: center;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
}

.about-container h1 {
    font-size: 2.5rem;
    color: var(--blue-dark);
    margin-bottom: 10px;
}

.about-container .subtitle {
    font-size: 1.2rem;
    color: var(--blue-lighter);
    margin-bottom: 20px;
}

.about-content {
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    color: rgb(53, 53, 53);
}

.about-content p {
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-container h1 {
        font-size: 2rem;
    }

    .about-container .subtitle {
        font-size: 1rem;
    }

    .about-content {
        font-size: 0.9rem;
    }
}