* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(242, 243, 247);
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 12px 20px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav ul li {
    position: relative; /* Required for absolute positioning of the underline */
}

.nav ul li a {
    text-decoration: none;
    background-color: none;
    color: rgb(53, 53, 53);
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    padding: 10px 15px;
    position: relative; /* Needed for the pseudo-element */
    display: inline-block;
}

.nav ul li a:hover {
    color: var(--blue-lighter);
}

.nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0px; 
    left: 50%;
    width: 0%; 
    height: 2px;
    background-color: var(--blue-lighter); 
    transition: width 0.3s ease-in-out;
    left: 0;
}

.nav ul li a:hover::after {
    width: 100%;
}
.nav ul li a {
    font-weight: lighter;
}
@media screen and (max-width: 768px){
    .nav ul li a {
        display: none; /* Hide nav links on mobile */
        font-weight: lighter;
    }
}
.nav ul li .hover-links {
    display: none;
}
.nav ul li .hover-links.active {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    width: 380px;
    height: 140px;
    gap: 10px;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
}

.nav ul li.hover-links li {
    list-style: none; /* Remove bullet points */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li .hover-links li a {
    text-decoration: none;
    color: black;
    width: 150px;
    height: 45px;
    font-size: 15px;
    padding: 14px 20px;
    border-radius: 10px;
    display: block;
}

.hover-links li a:hover {
    background-color: rgb(241, 244, 255);
    color: rgb(0, 0, 0);
}
.hover-links li a::after {
    content: "";
    display: none;
}
/* 🔍 Search Bar Container */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 5px;
    gap: 0;
    margin: 13px;
}
@media screen and (max-width: 768px) {
    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        padding: 5px;
        gap: 0;
        margin: 13px;
    }
    .search-container input {
        padding: 10px;
        width: 70%;
        border: none;
        height: 45px;
        border-radius: 10px 0 0 10px;
        font-size: 16px;
    }
    .search-container button {
        padding: 10px;
        height: 45px;
        width: 30%;
        background: var(--blue-lighter);
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 0 10px 10px 0;
    }
}

/* �� Input Field */

.search-container input {
    padding: 10px;
    width: 70%;
    border: none;
    height: 45px;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
}
.search-container button {
    padding: 10px;
    height: 45px;
    width: 20%;
    background: var(--blue-lighter);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.search-container button i {
    color: white;
}

.search-container button:focus,
.search-container input:focus {
    outline: none;
    border: none;
}

.mobile-menu .close-menu i {
    display: none;
}
.nav .menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
.close-menu i{
    display: none;
}

@media screen and (max-width:768px ){
    .mobile-menu.active {
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
        width: 55%;
        height: 85%;
        border-radius: 20px 0 0 20px;
        display: block !important;
        margin-top: 3%;
    }
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        width: 100%;
        list-style-type: none;
        padding: 30px;
        gap: 18px;
        margin-top: 80px;
    }
    
    .mobile-menu ul li {
        width:100%;
        transition: transform 0.3s ease;
        border-bottom: 0.2px solid rgb(92, 92, 92);
        padding:7px;
    }
    
    .mobile-menu ul li:hover {
        transform: scale(103%);
    }
    
    .mobile-menu ul li a {
        width: 100%;
        color: var(--blue-dark);
        font-size: 1.05rem;
        font-weight: light;
        text-decoration: none;
    }
    .mobile-menu .close-menu i {
        color: rgb(255, 255, 255);
        display: block;
        font-size: 17px;
        position: absolute;
        top: 7%;
        right: 15%;
        padding: 8px 12px;
        background-color: var(--blue-lighter);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
    }    
    .nav .menu-icon {
        display: block;
    }
}
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    margin: 30px;
}
.post {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(169, 169, 169, 0.2);
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    cursor: default;
    border: 1px solid rgb(179, 179, 179);
}
.post-img {
    width: 100%;
    height: 160px; /* Fixed height for the image container */
    overflow: hidden;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    transition: transform 0.3s ease;
    cursor: default;
}
.post img:hover {
    transform: scale(1.1);
}
.post h2 {
    font-size: 1rem;
    margin: 10px 0;
    cursor: default;
}
.post p {
    font-size: 0.8rem;
    cursor: default;
    padding: 3px 0;
}
.post hr {
    width: 100%;
    height: 1px;
    background-color: var(--blue-dark);
    margin: 20px 0 10px 0;
    cursor: default;
}
.post .activity-buttons {
    display: flex;
    width: 100%;
    margin: 20px 0 10px 0;
}
.post .activity-buttons .read-in-here a {
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    padding: 10px 15px;
    background-color: transparent;
    text-decoration: underline;
}
.post .activity-buttons .download-link a {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    padding: 10px 15px;
    background-color: var(--blue-lighter);
    border-radius: 5px;
    text-decoration: none;
    cursor: default;
}
.post .activity-buttons .download-link a:hover {
    opacity: 93%;
}
.post .activity-buttons .read-in-here a:hover {
    opacity: 70%;
}
@media (max-width: 768px) {
    .content {
        width: 100%;
        margin: 0;
    }
    .posts {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 20px 30px;
        margin: 5px auto;
    }
    .post {
        width: 100%;
    }
    .post-img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 7px;
    }
    .post img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 7px;
    }
    .post h2 {
        font-size: 1rem;
        margin: 10px 0;
    }
    .post p {
        font-size: 0.8rem;
    }
    .post hr {
        width: 100%;
        height: 1px;
        background-color: var(--blue-dark);
        margin: 20px 0 10px 0;
    }
    .post .activity-buttons {
        display: flex;
        width: 100%;
        margin: 10px 0;
    }
    .post .activity-buttons .read-in-here a {
        font-size: 0.8rem;
    }
    .post .activity-buttons .download-link a {
        font-size: 0.8rem;
    }
    .post .activity-buttons .download-link a:hover {
        opacity: 93%;
    }
    .post .activity-buttons .read-in-here a:hover {
        opacity: 70%;
    }
}
@media (min-width: 769px) and (max-width: 900px) {
    .content {
        width: 100%;
        margin: 0;
    }
    .content h1 {
        font-size: 1.3rem;
        margin: 5px;
    }
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
    .post {
        width: 100%;
    }
    .post-img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 7px;
    }
    .post img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 7px;
    }
    .post h2 {
        font-size: 1rem;
        margin: 10px 0;
    }
    .post p {
        font-size: 0.8rem;
    }
    .post hr {
        width: 100%;
        height: 1px;
        background-color: var(--blue-dark);
        margin: 20px 0 10px 0;
    }
    .post .activity-buttons {
        display: flex;
        width: 100%;
        margin: 10px 0;
    }
    .post .activity-buttons .read-in-here a {
        font-size: 0.8rem;
    }
    .post .activity-buttons .download-link a {
        font-size: 0.8rem;
    }
    .post .activity-buttons .download-link a:hover {
        opacity: 93%;
    }
    .post .activity-buttons .read-in-here a:hover {
        opacity: 70%;
    }
}